.splash-video {
    @apply w-full aspect-square;
}

.splash-video__content {
    @apply w-full aspect-square;
    @apply rounded-full;
    @apply relative;
    @apply cursor-pointer;
    @apply transition-transform duration-75 ease-in-out;
}

.splash-video__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.splash-video__timeline {
    @apply absolute top-0 left-0 right-0 bottom-0;
    @apply opacity-100;
    @apply transition-opacity;

    background: url("../../img/splash-video-timeline.svg") no-repeat center;
    background-size: cover;
    @apply animate-spin-slow;
}

.splash-video_active {
    .splash-video__content {
        @apply shadow-2xl;
        @apply scale-125 lg:scale-[150%] z-20;
    }

    .splash-video__video {
    }

    .splash-video__timeline {
        @apply opacity-0;
    }
}
