.splash-news {
    @apply overflow-hidden relative min-h-40;
    @apply rounded-2xl;

    padding: 14px 15px 0;

    background-color: rgba(23, 31, 102, 1);
    background-image: url("../../img/splash/splash-news-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        mask: url("../../img/splash/splash-news-pattern.svg") repeat-y center;
        mask-size: contain;
        background-color: white;
        opacity: .8;

        mix-blend-mode: overlay;
    }

    &:after {
        content: '';
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;

        background: linear-gradient(to top, rgba(37, 41, 114, .6), rgba(37, 41, 114, .4) 80%, rgba(37, 41, 114, 0) 100%);

        @apply pointer-events-none;
    }
}

.splash-news__list {
    @apply text-sm md:text-xs md:leading-none;
    @apply flex flex-col flex-nowrap items-stretch justify-start gap-[0];

    @apply absolute top-[17px] left-[8px] right-[8px] bottom-0;
    z-index: 1;

    transition-timing-function: ease-in-out;
    transition-property: transform;
}

.splash-news__item {
    @apply relative block;
    @apply text-white/80;
    @apply transition-all duration-200;

    margin-top: -7px;
    padding: 4px 7px 7px;
    border-radius: 8px;
    border: .2px solid transparent;

    &:hover {
        @apply text-white;

        border: .2px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.30);
        backdrop-filter: blur(2px);
        z-index: 1;
    }
}

@keyframes newsIn {
    0% {
        transform: translate(30%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.splash-news__item {
}

.splash-news__item_in {
    animation: newsIn 1s ease-in-out;
}
