////- src/templates/index.pug
//doctype html
//html(lang="en")
//    head
//        meta(charset="UTF-8")
//        meta(name="viewport" content="width=device-width, initial-scale=1.0")
//        title My Awesome Site
//        link(rel="stylesheet" href="/styles/main.css")
//        script(type="module" src="js/main.js")
//    body
//        h1 Hello from Pug template!
//        p This is an awesome site built with Vite, Pug, and TailwindCSS.
