.materials_articles {
    @apply mt-[63px];

    .materials__title {
        @apply mb-5;
    }

    .materials-item {
        @apply p-5;

        @apply sm:h-[206px];
    }

    .materials-item[data-height="2"] {
        @apply sm:h-[417px];
        @apply md:h-[427px];
    }


    .materials-item[data-width="1"] {
        .materials-item__gradient {
            @apply sm:top-[36%];
        }
    }

    .materials-item[data-width]:not([data-width="1"]) {
        .materials-item__gradient {
            @apply sm:top-[44%];
        }
    }

    .materials-item__content {
        justify-content: flex-end;
    }

    .materials-item__title {
        flex: none;

        @apply md:text-[1.25rem];
        @apply lg:text-[1.25rem];
    }

    .materials-item__tags {
        padding-bottom: 12px;
    }
}
