.article {
}

.article__title {
    @apply font-serif text-blue-900 font-bold leading-[115%] -tracking-[0.075rem] lowercase;
    @apply text-2xl lg:text-3xl xl:text-4xl;

    @apply mb-5 md:mb-7;
}

.article__header {
    @apply mb-5 md:mb-7;
}

.article__counters {
    @apply flex items-center gap-[13px];

    @apply text-[#B5B7CF] text-[13px] font-bold leading-tight;
}

.article__counter {
    @apply flex items-center text-nowrap gap-[2.6px];

    &:before {
        content: '';

        width: 19.64px;
        height: 19.64px;

        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        @apply bg-[#B5B7CF];
    }
}

a.article__counter:hover {
    @apply text-[#FE375B];

    &:before {
        @apply bg-[#FE375B];
    }
}

.article__counter_time:before {
    mask-image: url("../img/time.svg");
}

.article__counter_views:before {
    mask-image: url("../img/views.svg");
}

.article__counter_comments:before {
    mask-image: url("../img/comments.svg");
}

.article__counter_bookmarks:before {
    mask-image: url("../img/bookmarks.svg");
}

.article__share {
    @apply flex items-center gap-[4px];

    @apply text-[#B5B7CF] text-[13px] font-bold leading-tight;

    &:before {
        content: '';

        width: 19.64px;
        height: 19.64px;

        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;

        @apply bg-[#B5B7CF];
        mask-image: url("../img/icons/share.svg");
    }

    @apply hover:text-[#FE375B];

    &:hover:before {
        @apply bg-[#FE375B];
    }
}
