.materials-list_articles {

    .materials-item {
        @apply p-5;
    }

    .materials-item__gradient {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .materials-item[data-width="1"] {
        .materials-item__gradient {
            @apply sm:top-[36%];
        }
    }

    .materials-item[data-width]:not([data-width="1"]) {
        .materials-item__gradient {
            @apply sm:top-[44%];
        }
    }

    .materials-item__content {
        justify-content: flex-end;
    }

    .materials-item__title {
        flex: none;

        @apply md:text-[1.25rem];
        @apply lg:text-[1.25rem];
    }

    .materials-item__tags {
        margin-bottom: 10px;
    }
}
