.header {
}

.header__item {
    min-height: 80px;

    @apply flex items-center;
}

.header__item_logo {
    @apply max-lg:flex-1;
    @apply justify-start;
}

.header__item_menu {
}

.header__item_buttons {
    @apply max-lg:flex-1;
    @apply justify-end;
}

.header__logo {
    display: inline-block;
    width: 133px;
    height: 26px;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain;

    position: relative;
    margin-bottom: 14px;
    margin-right: 35px;

    @apply max-sm:w-[117.977px] max-sm:h-[35.393px];

    &:after {
        content: 'Журнал';
        display: block;

        position: absolute;
        right: -35px;
        bottom: -13px;

        width: 61.414px;
        height: 26.103px;
        transform: rotate(6.741deg);
        transition: transform .2s ease-in-out;
        flex-shrink: 0;

        border-radius: 9px;
        background: linear-gradient(180deg, rgba(253, 54, 90, 0.00) 0%, #FD365A 56.5%), rgba(253, 54, 90, 0.70);
        backdrop-filter: blur(1.483132004737854px);
        filter: drop-shadow(-2.966px 4.746px 23.73px rgba(253, 54, 90, 0.60));

        @apply py-[5px] px-[10px];
        @apply text-white font-caveat font-bold;
        font-size: 14.617px;
        line-height: 15.481px; /* 105.911% */
    }

    &:hover:after {
        transform: rotate(6.741deg) scale(1.05);
    }
}

.header__menu {
    font-size: clamp(14px, 5vw, 20px);

    @apply text-blue-dark lg:text-[10px] font-black leading-none tracking-widest uppercase;

    @apply flex items-center justify-center gap-5 lg:gap-[30px];
    @apply z-10;

    @apply max-lg:absolute max-lg:top-[80px] max-lg:left-0 max-lg:right-0 max-lg:h-[calc(100vh-80px)];
    @apply max-lg:bg-white;
    @apply max-lg:pt-[calc(10vh)];
    @apply max-lg:flex-col max-lg:justify-start;
    @apply max-lg:-translate-y-full max-lg:opacity-0 max-lg:pointer-events-none;
}

.header__menu_animate {
    @apply max-lg:transition-all;
}

.header__menu_active {
    @apply pointer-events-auto;
    @apply opacity-100;
    @apply translate-y-0;
}

.header__link {
    @apply min-h-10;
    @apply flex items-center;
}

@media (max-width: 1020px) {
    .header__button {
        @apply rounded-full;
        border: 1px solid rgba(22, 31, 106, 0.20);
        background: none;

        --icon-color: #171F66;
        padding: 9px;
        height: 30px;
    }
}

.header__button_search {
    --text-color: #171F66;
    --background-color: #E6EAFF;
    --icon: url("../img/search.svg");
}

.header__button_telegram {
    --text-color: #fff;
    --background-color: #2BABEE;
    --icon: url("../img/telegram.svg");
}
