.main-tags {
    overflow: hidden;

    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;

        width: 130px;
        z-index: 2;
    }

    &:before {
        left: 0;
        background: linear-gradient(to right, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    &:after {
        right: 0;
        background: linear-gradient(to left, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }

}

.main-tags__list {
    @apply -mx-[5px];

    & > .swiper-wrapper {
        transition-timing-function: linear;
    }

    --swiper-wrapper-transition-timing-function: linear;
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: linear;
}

.main-tags__item {
    @apply text-sm md:text-xl font-black text-blue;

    @apply inline-block;
    @apply rounded-[12px] md:rounded-[20px];

    @apply pt-[6px] pb-[10px] px-[12px];
    @apply md:pt-[13px] md:pb-[17px] md:px-[18px];
    @apply mx-[5px];

    @apply w-auto;

    @apply uppercase tracking-widest;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @apply border-2 border-[#CDD1F2];

        @apply rounded-[12px] md:rounded-[20px];
    }

    &:before {
        content: '#';
        color: #CDD1F2;

        position: relative;
        top: 1px;
        left: 2px;

        @apply text-xl md:text-[1.75rem];
        @apply font-medium;

        @apply mr-[10px];
    }

    &:hover {
        @apply text-white;

        background: linear-gradient(180deg, rgba(253, 54, 90, 0.00) 0%, #FD365A 56.5%), rgba(253, 54, 90, 0.70);

        &:before {
            @apply text-white opacity-40;
        }

        &:after {
            @apply hidden;
        }
    }
}
