.materials__title {
    @apply font-serif font-bold text-blue-900 leading-tight;
    @apply lowercase;

    @apply text-4xl sm:text-5xl md:text-[56px];
    letter-spacing: -1.68px;

    @apply flex items-center;

    @apply mb-3 md:mb-5;
}

.materials__header {
    @apply mb-5 md:mb-8
}

.materials__count {
    @apply font-sans tracking-normal text-xs;
    @apply ml-2;

    position: relative;
    top: -4px;
    /*line-height: 110%; !* 13.2px *!*/
}

.materials-list {
    @apply flex flex-row flex-wrap;

    @apply sm:mx-[-5px];
    @apply md:mx-[-10px];
}

.materials-item {
    /*@apply flex flex-col;*/
    @apply bg-white;
    @apply p-[10px];

    /* Sizes */
    @apply mx-0;
    @apply mb-[10px];
    @apply w-full;
    @apply h-auto;

    @apply sm:mx-[5px];
    @apply sm:w-[calc(50%-10px)];
    @apply sm:h-[206px];

    @apply md:mx-[10px];
    @apply md:mb-[20px];
    @apply md:w-[calc(50%-20px)];

    @apply lg:w-[220px];

    @apply xl:w-[275px];

    /* Variables */
    --title-color: #161F6A;
    --background: #fff;
    --background-gradient: none;
    --border: 0px;
    --box-shadow-color: transparent;
    /*--box-shadow-color: rgba(22, 31, 106, 0.10);*/

    --tag-color: rgba(25, 48, 131, 0.32);
    --tag-border-color: rgba(25, 48, 131, 0.05);

    --counters-color: #161F6A;
    --counters-opacity: 0.3;

    --border-radius: 14px;

    position: relative;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 30px 0 var(--box-shadow-color);
    overflow: hidden;

    &:after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: var(--border-radius);
        @apply pointer-events-none;
    }

    &:after {
        border: var(--border);
    }
}

.materials-item__image {
    @apply absolute top-0 left-0 right-0 bottom-0;

    background: var(--background);
    background-size: cover;
    background-position: center center;

    @apply transition-transform;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: 0;
        background: #FFF;

        mix-blend-mode: overlay;
        @apply transition-opacity pointer-events-none;
    }
}

.materials-item:hover {
    .materials-item__image {
        transform: scale(105%);

        &:after {
            opacity: 0.1;
        }
    }
}

.materials-item[data-width="2"] {
    @apply sm:w-[calc(100%-10px)];
    @apply md:w-[calc(100%-20px)];
    @apply lg:w-[460px];
    @apply xl:w-[570px];
}

.materials-item[data-width="3"] {
    @apply sm:w-[calc(100%-10px)];
    @apply md:w-[calc(100%-20px)];
    @apply lg:w-[700px];
    @apply xl:w-[865px];
}

.materials-item[data-width="4"] {
    @apply sm:w-[calc(100%-10px)];
    @apply md:w-[calc(100%-20px)];
}

.materials-item[data-height="2"] {
    @apply sm:h-[422px];
    @apply md:h-[432px];
}

.materials-item__gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: var(--border-radius);
    background: var(--background-gradient);
}

.materials-item__content {
    position: relative;
    @apply flex flex-col;

    @apply w-full h-full;
}

.materials-item__tags {
    @apply flex flex-nowrap;

    margin-bottom: 8px;
}

.materials-item__tag {
    color: var(--tag-color);

    font-size: 8px;
    font-weight: 700;
    line-height: 6px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    border-radius: 5px;
    border: 1px solid var(--tag-border-color);

    display: inline-block;
    padding: 6px 6px 5px;

    margin-right: 4px;
}

.materials-item__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 125%; /* 22.5px */
    flex: 1;

    @apply md:text-[1.25rem];
    @apply lg:text-[1rem];
    @apply xl:text-[18px];

    color: var(--title-color);
}

.materials-item__counters {
    @apply flex;
    @apply font-bold text-[10px];
    @apply pt-3;
    @apply gap-2.5;
    @apply leading-[1.2];

    color: var(--counters-color);
    opacity: var(--counters-opacity, 0.3);
}

.materials-item__views, .materials-item__time {
    padding-left: 17px;
    background-position: left center;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        mask-size: 15px;
        background-color: var(--counters-color);
    }
}

.materials-item__views:before {
    mask: url("../img/views.svg") no-repeat center center;
}

.materials-item__time:before {
    mask: url("../img/time.svg") no-repeat center center;
}

/* Title opacity */
.materials-item__title {
    @apply transition-opacity;
}

.materials-item:hover {
    .materials-item__title {
        opacity: .8;
    }
}

.materials-list_limit {
    --max-rows: 4;
    --card-height: 206px;

    --max-height-sm: calc(var(--card-height) * var(--max-rows) + 10px * (var(--max-rows) - 1) - var(--card-height) * 0.5);
    --max-height-md: calc(var(--card-height) * var(--max-rows) + 20px * (var(--max-rows) - 1) - var(--card-height) * 0.5);

    @apply max-h-[150vh];
    @apply sm:max-h-[var(--max-height-sm)];
    @apply md:max-h-[var(--max-height-md)];

    @apply overflow-hidden relative;

    margin-top: -30px;
    padding-top: 30px;

    &:after {
        content: "";

        position: absolute;
        left: -10px;
        right: -10px;
        bottom: 0;
        height: calc(var(--card-height) * 0.5);
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0));

        @apply pointer-events-none;
    }
}
