.platform-logos {
    overflow: hidden;

    .splash-block__button {
        margin-top: 0;
    }
}

.platform-logos__container {
    position: relative;
    height: 940px;
    margin-top: 0;

    @apply flex items-end;
}

.platform-logos__list {
    position: absolute;

    width: 3050px;
    bottom: 0;
    height: calc(940px - 72px);
    left: 50%;
    transform: translateX(-50%);

    align-self: flex-start;
}

.platform-logos__item {
    transition: transform .2s ease-in-out;
    border-radius: 50%;

    &:hover {
        transform: scale(1.05);
    }
}
