.portfolio-slider {
    @apply relative overflow-hidden mb-[34px] pt-[30px];

    --swiper-wrapper-transition-timing-function: linear;
    max-width: 100%;

    &:before {
        content: '';

        @apply absolute;
        @apply pointer-events-none;
        @apply z-10;

        top: -33px;
        left: 0;
        right: 0;
        height: 317px;
        background: linear-gradient(180deg, rgba(39, 82, 235, 0.00) 0%, #2752EB 71.15%);
    }
}

.portfolio-slider__item {
    display: inline-block;
    width: 340px;
    height: 190px;

    @apply rounded-2xl overflow-hidden select-none mx-3;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02) translate(0, -5px);
    }
}
