.random-facts {
}

.random-fact {
    @apply flex flex-col text-center;
    @apply lg:min-h-[384px] h-full w-full;
    @apply md:rounded-full lg:rounded-full;
    @apply overflow-hidden relative;

    --text-color: #fff;
    --background: linear-gradient(101deg, #FF6002 0%, #FF1403 100%);

    background: var(--background);
    color: var(--text-color);

    &::before {
        content: attr(background-text);

        @apply absolute left-0 w-full;

        @apply top-[100%];
        @apply translate-y-[-73%];

        @apply text-center text-white text-nowrap leading-none;
        @apply font-bold font-caveat;

        font-size: clamp(60px, 50vw, 537px);
        letter-spacing: -16.128px;

        opacity: 0.18;
        mix-blend-mode: overlay;

        pointer-events: none;
    }
}

.random-fact__header {
    @apply pt-4 pb-5 md:pt-5 md:pb-6 lg:pt-[23px] lg:pb-[33px];
    @apply z-10;

    font-size: clamp(1.2rem, 4.5vw, 1.6rem);
    @apply font-bold font-caveat md:text-3xl lg:text-4xl leading-none tracking-[-1.5px];
}

.random-fact__content {
    @apply flex-1;
    @apply flex items-center;
    @apply font-serif font-bold text-center leading-normal md:leading-tight;

    font-size: clamp(1.2rem, 4.5vw, 1.6rem);

    @apply md:text-[1.6rem];
    @apply lg:text-[2.5rem];
    @apply xl:text-[3.125rem];

    @apply px-[1rem] sm:px-[2.5rem] md:px-[5.375rem];
    @apply z-10;
}

.random-fact__footer {
    @apply mt-[20px] mb-[30px];
    @apply z-10;
}

.random-fact__button {
    @apply text-[1.25rem] font-bold leading-none;

    @apply rounded-full;
    @apply py-[15px] pr-[15px] pl-[49px];

    &:hover:after {
        border-style: solid;
    }

    position: relative;

    &:before {
        content: '';

        position: absolute;
        top: 9px;
        left: 9px;
        width: 31px;
        height: 31px;

        mask: url("../img/reload.svg") no-repeat center center;
        mask-size: 31px;

        background-color: var(--text-color);
    }

    &:after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        @apply rounded-full;

        border: 1px dashed var(--text-color);

        opacity: 0.3;
    }
}

.random-facts__list:not(.swiper-initialized) .swiper-slide:nth-child(n+2) {
    display: none;
}

.random-facts__list.swiper-initialized .swiper-slide .random-fact {
    transition: all .2s ease;
    transform: scale(1);
    opacity: 1;
}

.random-facts__list.swiper-initialized .swiper-slide:not(.swiper-slide-active) .random-fact {
    transform: scale(.95);
    opacity: 0;
}

.random-facts .swiper-slide {
    height: auto;
}
