.stories-slider {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: translateZ(0) scale(.5);
    opacity: 0;
    background: rgba(82, 71, 154, 0.90);
}

.stories-slider:not(.stories-slider-in) {
    pointer-events: none !important;

    .swiper-cube .swiper-slide-active {
        pointer-events: none !important;
    }
}

.stories-slider {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stories-slider-in {
    animation: stories-slider-in .3s forwards;
    pointer-events: auto;
    transform: translateZ(0) scale(1);
    opacity: 1;
}

.stories-slider-out {
    pointer-events: none;
    animation: stories-slider-out .3s forwards !important
}

@keyframes stories-slider-in {
    0% {
        transform: translateZ(0) scale(.5);
        opacity: 0
    }
    50% {
        transform: translateZ(0) scale(1.05);
        opacity: 1
    }
    to {
        transform: translateZ(0) scale(1);
        opacity: 1
    }
}

@keyframes stories-slider-out {
    0% {
        transform: translateZ(0) scale(1);
        opacity: 1
    }
    50% {
        transform: translateZ(0) scale(.5);
        opacity: 0
    }
    to {
        transform: translateZ(0) scale(.5);
        opacity: 0
    }
}

.stories-slider__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
}

.story {
}

.stories-slider__slider {
    width: 100%;
    height: 100%;
}

.stories-slider__content {
    position: relative;

    aspect-ratio: 9 / 16;

    @apply max-h-[calc(100dvh)];
    @apply max-w-[calc(100dvw)];

    @apply sm:max-h-[calc(100dvh-10px)];
    @apply sm:max-w-[calc(100dvw-10px)];

    @apply md:max-h-[calc(100dvh-88px)];
    @apply md:max-w-[calc(100dvw-88px)];

    @apply mx-auto;
}

.story {
    max-width: 100%;
    max-height: 100%;
}

.story__slider {
    aspect-ratio: 9 / 16;

    max-width: 100%;
    max-height: 100%;

    @apply sm:rounded-lg;

    overflow: hidden;
}

.story__slide {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .2) 20%, rgba(0, 0, 0, .0));
        z-index: 1;
    }
}

.story__slide video,
.story__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.story__pagination {
    bottom: unset !important;
    top: 8px !important;
    display: flex;
    padding: 0 6px;
}

.story__pagination .swiper-pagination-bullet {
    flex-grow: 1;
    border-radius: 100vh;
    height: 3px;
    margin: 0 2px !important;
    background-color: rgba(247, 247, 245, 0.4);
    opacity: 1;

    box-shadow: 0 0 1px rgba(0, 0, 0, .35);
}

.story__pagination .swiper-pagination-bullet .swiper-pagination-progress {
    height: 100%;
    width: 0%;
    border-radius: 100vh;
    background-color: #f7f7f5;
    z-index: 2;
}

.story__prev, .story__next {
    height: 100%;
    top: 0;
    margin-top: 0;
}

.story__prev::after, .story__next::after {
    content: none;
}

.story__prev {
    left: 0;
    width: 30%;
}

.story__next {
    right: 0;
    width: 70%;
}

/** Next / Prev button shadows */
.story__button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: .2s;
}

.story__button:active:before {
    opacity: .25;
}

.story__prev:before {
    background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}

.story__next:before {
    background-image: linear-gradient(to left, #000, rgba(0, 0, 0, 0));
}

/** close button */
.stories-slider__close {
    position: absolute;
    top: 19px;
    right: 8px;
    z-index: 100;

    @apply md:right-[19px];

    width: 22px;
    height: 22px;

    padding: 10px;

    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    cursor: pointer;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;

    &:before, &:after {
        content: "";
        width: 26px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.story__link {
    --text-color: #fff;
    --background: linear-gradient(180deg, rgba(253, 54, 90, 0.00) 0%, #FD365A 56.5%), rgba(253, 54, 90, 0.70);
    --hover-background: linear-gradient(180deg, rgba(253, 54, 90, 0.00) 0%, #FD365A 56.5%), rgba(253, 54, 90, 0.90);

    position: absolute;
    left: 23px;
    right: 23px;
    bottom: 23px;

    text-align: center;
    @apply block px-5 py-7 z-20 font-black leading-none uppercase;
    @apply pointer-events-auto;

    border-radius: 14px;

    color: var(--text-color);
    background: var(--background);

    letter-spacing: 1.676px;

    &:hover {
        background: var(--hover-background);
    }
}

/** Костыль чтобы работали кнопки вперёд-назад в слайдерах, кроме первого */
.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide {
    transform-style: unset;
}
