footer.footer
    .container.relative
        .footer__mockup.z-1
    .container
        .footer__counters.relative.z-2
            .footer__counter.footer__counter_portfolio 703
            .footer__inner.footer-inner
                .footer-inner__header От слов к делу
                .footer-inner__text Мы не только пишем, но и делаем баннеры и видео для медийной и наружной рекламы
                a.footer-inner__button(href="https://tolkunov.com/") перейти НА САЙТ
            .footer__counter.footer__counter_reviews 210
