<header class="header">
    <div class="container">
        <div class="flex flex-row flex-wrap items-center justify-center gap-2 sm:gap-6">

            <div class="header__item header__item_logo z-50">
                <a href="index.html" class="header__logo"></a>
            </div>

            <nav class="header__item_menu header__menu flex-1">
                <a class="header__link" href="news.html">Новости</a>
                <a class="header__link" href="news.html">Статьи</a>
                <a class="header__link" href="facts.html">Факты</a>
                <a class="header__link" href="comparison.html">Сравнения</a>
                <a class="header__link" href="dictionary.html">Словарик</a>
                <a class="header__link" href="#">Площадки</a>
            </nav>

            <div class="header__item header__item_buttons z-20">
                <div class="flex items-center flex-row flex-nowrap gap-[10px]">
                    <a href="#" class="button button-icon-left header__button header__button_search">
                        <span class="max-xl:hidden">Поиск</span>
                    </a>
                    <a href="#" class="button button-icon-right header__button header__button_telegram">
                        <span class="max-xl:hidden">
                            <span class="text-white">ТЕЛЕГРАМ-канал</span>
                            <span class="text-white opacity-40">1,6к</span>
                        </span>
                    </a>

                    <div class="tham tham-e-spin tham-w-7 ml-2 sm:ml-6 lg:hidden" id="header_menu_toggle">
                        <div class="tham-box">
                            <div class="tham-inner bg-blue-dark"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
